<!-- <h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} :  {{ choice.votes }}</li>
{% endfor %}
</ul> -->


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}                <!-- 모든 POST 양식은 이 CSRF를 써야한다.-->
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}              <!-- 에러 메세지를 전달받으면 에러메세지를 출력하라는 조건문-->
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> <!-- forloop.counter은 for태그가 반복한 횟수를 나타낸다.-->
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
</form>